<div class="row-fluid">
	<div class="span4">
		<div class="thumbnail">
			<img src="http://placehold.it/300x200" alt="">
		</div>

		<p style="text-align:center; margin-top: 10px"> 
			<a id="btn-like" class="btn btn-success">
				<i class="icon-thumbs-up icon-white"></i> 
				<span>Like</span>
			</a>

			<a id="btn-dislike" class="btn btn-danger">
				<i class="icon-thumbs-down icon-white"></i> 
				<span>Dislike</span>
			</a>
		</p>
	</div>
	<div class="span8">
		<h3>Legal Seafood Lobster Pasta</h3>
		<p>
			<i>from <a href="">epicurious.com</a></i>	
		</p>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
		</p>
		<p>
			<dl class="dl-horizontal">
	  			<dt>Cuisine</dt>
	  			<dd>
	  				<span class="label label-inverse tag-display">French</span>
	  			</dd>

	  			<dt>Ingredients</dt>
	  			<dd>
	  				<span class="label label-inverse tag-display">lobster</span>
	  			</dd>

	  			<dt>Meal Type</dt>
	  			<dd>
	  				<span class="label label-inverse tag-display">pasta</span>
	  			</dd>

	  			<dt>Taste</dt>
	  			<dd>
	  				<span class="label label-inverse tag-display">savory</span>
	  			</dd>
			</dl>
		</p>

	</div>
</div>